* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; /*Плавная прокрутка страницы*/
  }

body{
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex; /*10-12 выравнивание элементов */
    flex-direction: column; /*flex-direction смена выравнивание с горизонтального на вертикальное*/
    justify-content: space-between; /*space-between расположение элементов на макс. растоянии друг от друга*/
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #6094c2;
}

.wrapper{
    max-width: 1440px;
    margin: 0 auto;
    min-height: 50px;
}

.header{
    background-color: #cee8ff;
}

.navlist{
    display: flex;
    justify-content: flex-end; /*Сдвинуть элементы навигации вправо*/
    align-items: center;
    list-style: none; /*Убираем стандартные маркеры списка*/
}

a{
    padding: 0 20px;
    text-decoration: none;
    color: rgb(85, 83, 83);
    font-size: 16px;
    transition: .3s;
}

.main a{
    padding: 0
}

a:hover{
    background-color: rgb(70, 103, 252);
}

.main-wrapper{
    display:flex; /*у контейнера размещает секции по горизонтали*/
    flex-wrap: wrap; /*Cекции, которые не помещаются по ширине контейнера переносятся на новую строку*/
}

.section{
    width: 50%; /*указывает, что каждая секция занимает ровно половину ширины контейнера*/
}

.section-title{
    font-size: 20px;
    letter-spacing: 5px;
    color: #003cff
}

.main-title{
    font-size: 24;
    color: #faf603
}

.section-about{
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-bottom: 10px solid #0051ff;
    padding: 20px;
}

.section-about-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
    text-transform: uppercase
}

.selection{
    color: #363535
}

@media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }


.footer{
    background-color: #cee8ff;
    padding: 20px;
}

.footer-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

}

.rss{
    background-image: url("../assets/img/background.png");
    width: 109px;
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
}